<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>General Assembly</h1>
            <span>Back End Web Development</span>
            <span><address>Boston, Ma</address><time>2015</time></span>
        </header>
        <p>
            <em>Fundamentals of programming with Ruby on Rails</em>
        </p>
    </article>
    <article>
        <header>
            <h1>New England Institute of Technology</h1>
            <span>Associate of Science (A.S.), Game Design and Simulation</span>
            <span><address>East Greenwich, RI</address><time>2008-2011</time></span>
        </header>
        
    </article>
</section>
