<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Engineering Support at Teespring</h1>
            <span><address>Providence, RI</address><time>2014 to Present</time></span>
        </header>
        <p>As an expert in the inner workings of the Teepspring platform, I focus on finding solutions to the technical roadblocks experienced throughout all departments in the company. I am responsible for identifying issues before they cause an interruption in workflow, as well as prioritizing and escalating reported issues upstream.  </p>
    </article>
    <article>
        <header>
            <h1>Client Service Specialist at Mobile Aspects</h1>
            <span><address>RI</address><time>2013 to 2014</time></span>
        </header>
        <p>I did stuff at Mobile Aspects.</p>
    </article>
    <article>
        <header>
            <h1>Fild Technician at Muratek</h1>
            <span><address>New York, New York</address><time>2012 to 2013</time></span>
        </header>
        <p>Responsible for network maintenance, updates, repairs, installations, software issues, new builds, VoIP and
 PBX support and other miscellaneous assignments for all of our clients in the NYC area. This includes
 remote assistance as well as on-site.</p>
    </article>
    <article>
        <header>
            <h1>Security Analyst at Atos</h1>
            <span><address>City, State</address><time>2011-2013</time></span>
        </header>
        <p>Responsible for migrating and locking down Active Directory groups containing NPPI (Non-Public Personal
 Information) data for RBS Citizens.</p>
    </article>
</section>
