<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Some Project</h1>
            <span><address>Providence, RI</address><time></time></span>
        </header>
        <p>
            This is a really cool video game I built when I was at General Assembly. Here's the code!
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteer Work</h1>
            <span><address></address><time>2013</time></span>
        </header>
        <p>
            I did this other thing.
        </p>
    </article>
</section>