<section class="thirteen columns">
    <h1>Skills and Expertise</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Ruby on Rails and C++</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>CSS</em>, <em>Git & Version Control</em>, <em>MYSQL, SQLite, and PostgreSQL</em>, <em>Agile Development</em>, &amp; <em>Jira/Confluence</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Unity3D, Blender, Torque Game Engine</em> &amp; <em>Adobe Creative Suite</em>
        </p>

         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Unity3D, Blender, Torque Game Engine</em> &amp; <em>Adobe Creative Suite</em>
        </p>

         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Network Administration, Software Installation Management,  Inventory Management, Active Directory Networking, VoIP</em> &amp; <em>VMWare</em>
        </p>


    </article>
</section>